body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.delete-post-btn {
  position: absolute;
  margin: 5px;
}

.list-card-desc{
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 575px) {
  .navbar{
    padding: 20px 10%;
  }
  
  main{
    padding: 20px 10%;
  }
  
  .list-card-desc{
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
}

video{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.bg-video{
  position: relative;
  height: 400px;
  width: 100%;
}

.content{
  position: absolute;
  height: 400px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: aliceblue;
}

.overlay{
  position: absolute;
  top: 0px;
  left:0;
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}