body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

table tr:nth-child(odd) td{
  background-color: #f5f8fa;
}

table {
  width: 100%;
}

.single-post-div{
  padding-top: 15px;
}

.title-price-container{
  padding-top: 10px;
}

.post-title p{
  font-size: 30px;
  font-weight: 600;
}

.single-price p{
  font-size: 25px;
  text-align: right;
}

.like-count{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.table-column{
  padding-bottom: 10px;
}

.table-title{
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
  width: 25%;
}

.table-data{
  padding-right: 10px;
  text-align: left;
  width: 75%
}

.desc-text-box{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  background-color: #f5f8fa;
}

.desc-text-box p{
  margin-bottom: 0;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.delete-post-btn {
  position: absolute;
  margin: 5px;
}

.list-card-desc{
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 575px) {
  .navbar{
    padding: 20px 10%;
  }
  
  main{
    padding: 20px 10%;
  }

  .single-post-div{
    padding: 20px 10%;
  }

  .title-price-container{
    padding: 0 10%;
  }

  .single-price p{
    text-align: left;
  }

  .like-count{
    padding: 0 10%;
  }

  .desc-text-box-div{
    padding-top: 10px;
  }

  .table-column{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .list-card-desc{
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    height: 100%
  }
}