body {

  font-family: 'Rubik', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

table tr:nth-child(odd) td {
  background-color: #f5f8fa;
}

table {
  width: 100%;
}

.navBar {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 2px solid black;
}

.navBar .logo-container {
  width: 25%;
  display: flex;
  align-items: center;
}

.navBar .logo-container img {
  display: block;
  object-fit: cover;
  width: 80%;
  height: 80%;
}

.data-label {
  margin-top: 10px;
}

.submit-button {
  margin-top: 20px;
}

.searchResultsBox {
  padding: 20px 20%;
}

.create-post-div {
  padding: 0 20%;
}

.my-listing-header {
  padding: 0 20%;
}

.my-listing-container {
  padding: 0 20% 20px 20%;
}

.single-post-div {
  padding-top: 15px;
  padding: 0 20%;
}

.title-price-container {
  padding-top: 10px;
}

.post-title p {
  font-size: 30px;
  font-weight: 600;
}

.single-price p {
  font-size: 25px;
  text-align: right;
}

.like-count {
  padding: 0 20%;
  font-size: 20px;
}

.table-column {
  padding-bottom: 10px;
}

.table-title-left {
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
  width: 20%;
}

.table-data-left {
  padding-right: 10px;
  text-align: left;
  width: 80%;
}

.table-title-right {
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
  width: 35%;
}

.table-data-right {
  padding-right: 10px;
  text-align: left;
  width: 65%;
}

.desc-text-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
  background-color: #f5f8fa;
}

.desc-text-box p {
  margin-bottom: 0;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.delete-post-btn {
  position: absolute;
  margin: 5px;
}

.list-card-desc {
  margin-left: 20px;
}

.desc-text-box-div {
  padding-top: 20px;
}


video {

  height: 500px;
  width: 100%;
  object-fit: cover;
}

.bg-video {
  position: relative;
  height: 500px;
  width: 100%;
}

.content {
  position: absolute;
  height: 500px;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgb(255, 240, 240);
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  height: 500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


.search-main {
  background-color: rgb(80, 80, 80);
  transition: ease-in 0.5s;
}

.start-btn {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: black;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.start-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(75, 54, 54, 0.8),
    0 0 20px rgba(76, 57, 57, 0.5);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.sbtn {
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  text-decoration: none;
  text-transform: uppercase;
  width: 70%; 

}

.search {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .navbar{
    padding: 20px 10%;
  }

  .navBar .logo-container {
    width: 50%;
  }

  .searchResultsBox{
    padding: 10%;
  }
  
  .create-post-div{
    padding: 0 10%;
  }
  
  .my-listing-header{
    padding: 0 10%;
  }
  
  .my-listing-container{
    padding: 0 10%;
  }
  
  .single-post-div{
    padding: 0 10%;
  }

  .single-post-div{
    padding: 20px 10%;
  }

  .title-price-container{
    padding: 0 10%;
  }

  .single-price p{
    text-align: left;
  }

  .like-count{
    padding: 0 10%;
  }

  .table-column{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .list-card-desc{
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    height: 100%
  }

  .sbtn{
    width: 80%;
  }
}

