.icon {
  font-size: 50px;
}

.logo {
  box-shadow: 2px, 2px, 2px, 2px;
}

.logo:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

