.model-logo {
  box-shadow: 2px, 2px, 2px, 2px;
  cursor: pointer;
}

.model-logo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
}

.selected-model {
  box-shadow: 2px 2px 10px 5px rgb(144, 144, 144) ;
  border-radius: 2px;
}

.model-container{
  flex-wrap: wrap;
}